

.main-title {

    color: #ff0000;
    font-size: 50px;

}

.main-subtitle {

    color: #0000ff;
}

.post {

    background-color: #070202;
}

#firtPostTitle {

    font-size: 40px;
}

.post h1 {
    color:#2d2dc0;
 
}

.post h2 {
    color: #fcf5f5;
}