@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  
}



div {
  display: flex;
  justify-content: center;
  padding: 10px;
  
  
  
}

.justify-content-end {
  justify-content: right;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-top: 20px;
  gap: 20px;
  list-style-type: none;
  font-family: Roboto;
  white-space: nowrap;
  padding-left: 1px;

  
  
}

img {
  background-size: cover;
}






