h1 {
    background-color: #ffff00af;
    font-family: "roboto", arial, sans-serif;
    font-size: 100px;
    font-weight: center;
    width: 1000px;
}

.sub {
    background-color: red;
}

.tilt {
    background-color: tomato;
}

img {
    width: 500px;
        
}